.ipynb_checkpoints
.venv
*.zip
./data/filtrado/raw/
dashboard/.quarto/
**/*.quarto_ipynb
build/
__pycache__/
wheels/
*.egg-info/
./dashboard/index_files/
**/index_files/



/.quarto/
.DS_Store
**/.DS_Store
